.publicView__container {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    background-image: url('/images/background.png');
    background-size: cover;
    background-position: 15%;
    color: #333333;
    width: 100vw;
    justify-content: center;
    padding-top: 10vh;

}

.publicView__containera {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

.publicView__container a:hover {
    color: #535bf2;
}


.publicView__container h1 {
    font-size: 2.8em;
    line-height: 1.1;
}

.publicView__container button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

.publicView__container button:hover {
    border-color: #646cff;
}

.publicView__container button:focus,
.publicView__container button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    .publicView__container {
        color: #213547;
        background-color: #ffffff;
    }

    .publicView__container a:hover {
        color: #747bff;
    }

    .publicView__container button {
        background-color: #f9f9f9;
    }
}



.publicView__container .font {
    font-family: "Cormorant Garamond", serif;
}

.publicView__container .parisienne-regular {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
}

.publicView__container .alex-brush-regular {
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 375px) {
    .publicView__container h1.alex-brush-regular {
        font-size: 2.4em;
    }
}

@media (max-width: 420px) {
    .publicView__container h1.font {
        font-size: 1.9em;
        letter-spacing: 0.05
    }

}